.main {
  min-height: 85vh;
}

.user-main {
  min-height: 85vh;
  width: calc(100% - 200px);
}

/* signin page */
.signin-page {
  background: url(./assets/login_page_img.jpg) center no-repeat;
  min-height: 100vh;
  background-size: cover;
}
